1. https://python-forum.io/Thread-ValueError-The-truth-value-of-a-Series-is-ambiguous?pid=87704#pid87704

Not sure, you got desired result executing `maxVal = max(data.values())#maximum value`

In [7]:
import pandas as pd
df = pd.DataFrame(pd.np.random.rand(10,10))

In [8]:
x = {'a' : df}

In [15]:
s=x.values()

2. https://python-forum.io/Thread-Need-Help-With-Filtering-Data-For-Excel-Files-Using-Pandas

In [1]:
import pandas as pd
data = pd.read_excel ('F0ED6EA8_1143_EC82_2E4534A1036AA506.xls')
df = pd.DataFrame(data, columns= ['Venue','A/C','DISPLAY/','Date'])
df[(df['Venue'].str.contains('[a-zA-Z]') & df['A/C'].str.contains('DHS')) & (df['A/C'].str.contains('DSS')) & (df['A/C'].str.contains('DAK')) & (df['A/C'].str.contains('HS')) & (df['A/C'] != 'L') & (df['DISPLAY/'].str.contains('DISPLAY'))]

Empty DataFrame
Columns: [Venue, A/C, DISPLAY/, Date]
Index: []

3. https://python-forum.io/Thread-Add-column-to-numpy-matrix

In [8]:
import numpy as np
x=np.random.rand(10,3)
y = np.random.rand(10)

In [10]:
np.hstack([x, y[:, np.newaxis]])

array([[0.85363641, 0.15179802, 0.96028808, 0.24162788],
       [0.73790212, 0.55760863, 0.44549096, 0.92695806],
       [0.13255399, 0.26116456, 0.10734681, 0.89770881],
       [0.48501304, 0.89709344, 0.58113526, 0.88718529],
       [0.34975298, 0.87297033, 0.97782379, 0.03328267],
       [0.79542894, 0.58040069, 0.83146845, 0.571193  ],
       [0.06649268, 0.26471133, 0.94565975, 0.06344072],
       [0.67246755, 0.92347104, 0.77200768, 0.11663357],
       [0.05213652, 0.73954902, 0.50891316, 0.06154656],
       [0.72463539, 0.81692445, 0.82675881, 0.0854766 ]])

4.https://python-forum.io/Thread-How-publish-CSV-to-HTML

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'x': ['<a href="http://google.com"></a>']})

In [7]:
with open('output.html', 'wt') as f:
    df.to_html(f, escape=False)

5. https://python-forum.io/Thread-array-issue

In [5]:
import matplotlib.tri as tri
import numpy as np
 
n_angles = 36
n_radii = 8
min_radius = 0.25
radii = np.linspace(min_radius, 0.95, n_radii)
 
angles = np.linspace(0, 2 * np.pi, n_angles, endpoint=False)
angles = np.repeat(angles[..., np.newaxis], n_radii, axis=1)
angles[:, 1::2] += np.pi / n_angles
 
x = (radii * np.cos(angles)).flatten()
y = (radii * np.sin(angles)).flatten()
 
 
triang = tri.Triangulation(x, y)
vertex = triang.triangles;
temp1 = np.copy(vertex);
temp2 = np.copy(vertex[:,0]);
temp3 = np.hstack( (temp1, temp2[:, None]) );

6. https://python-forum.io/Thread-How-to-get-count-of-each-unique-item-in-dataframe

In [7]:
import pandas as pd
  
# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':['Fail', 'Pass', 'Pass', 'Fail']}
 # Create DataFrame
df = pd.DataFrame(data)
data_cnt=df.groupby('Age').count()

In [8]:
df.Age.value_counts()

Fail    2
Pass    2
Name: Age, dtype: int64

7. https://python-forum.io/Thread-Create-dataframe-through-Dictionary-in-pandas

In [33]:
df2 = { 2019 :{ 'qtr1':44900} ,
        2017 :{ 'qtr1':44900,'qtr3':57000,'qtr4':59000},
        2015 :{ 'qtr1':5000,'qtr3':5000,'qtr4':5000},
        2013 :{ 'qtr1':5000,'qtr3':5000,'qtr4':5000},
        2011 :{'qtr1':5000,'qtr3':5000,'qtr4':5000}
        }

8. https://python-forum.io/Thread-is-try-except-safe-inside-of-another-except

In [ ]:
def func():
    data = None
    for place in places:
        try:
            data = get_data_from_place(place)
        except CustomException: # or exceptions
            pass

    return data