1. https://python-forum.io/Thread-Why-any-0-does-not-work-here

In [2]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.random.randn(10,4))

In [3]:
data[(np.abs(data) > 2).any(1)]

          0         1         2         3
2  2.070938 -0.754125 -0.578396  0.030508
4 -2.458526 -0.388581 -0.295258  1.742435
5 -1.168917  0.380264  0.091132 -2.314294
7 -0.836062  1.441229 -0.038779 -2.470544